* {
    font-family: "Ubuntu Nerd Font", "Roboto", sans-serif;
    font-size: 14px; 
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.0);
    color: #ffffff;
}

#clock,
#network,
#memory,
#cpu,
#battery,
#workspaces {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #66b2b2;
    border-radius: 9px;
    padding: 0 10px;
    margin-left: 4px;
}

#workspaces {
    background: rgba(0, 0, 0, 1.0); 
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}

#workspaces button label {
  font-size: 16px;
}

#workspaces button.active {
    color: #66b2b2;
}

#workspaces button:hover {
    background: rgba(102, 178, 178, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
}

#battery {
    margin-right: 0;
}

#clock {
  margin-left: 0px;
}
