/* Total Background Styles - Intentionally Hidden */
window#waybar {
  background: rgba(0, 0, 0, 0.0);
}

/* Section Specific Style */
#workspaces {
  background: rgba(0, 60, 190, 0.4);
  border: 0.5px solid #0000ff;
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

#workspaces button label {
  font-size: 20px;
}

#workspaces button.active label {
  font-size: 24px;
  color: #e78284;
}

#clock {
  background: rgba(0, 60, 190, 0.4);
  border: 0.5px solid #0000ff;
  border-radius: 4px;
  padding: 0 10px;
}

#network {
  background: rgba(0, 60, 190, 0.4);
  border: 0.5px solid #0000ff;
  border-radius: 4px;
  margin-right: 4px;
  margin-left: 4px;
  padding: 0 10px;
}

#memory {
  background: rgba(0, 60, 190, 0.4);
  border: 0.5px solid #0000ff;
  border-radius: 4px;
  margin-right: 4px;
  margin-left: 4px;
  padding: 0 10px;
}

#cpu {
  background: rgba(0, 60, 190, 0.4);
  border: 0.5px solid #0000ff;
  border-radius: 4px;
  margin-right: 4px;
  margin-left: 4px;
  padding: 0 10px;
}

#battery {
  background: rgba(0, 60, 190, 0.4);
  border: 0.5px solid #0000ff;
  border-radius: 4px;
  margin-left: 4px;
  padding: 0 10px;
}
